*{
    margin: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.1);;
}
.main{
    max-width: 50%;
    min-width: 200px;
    margin: auto;   
    background-color: white;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F1EDEA;
}
.contacts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    border-radius: 50%; 
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;
    border-bottom: 1px solid grey;
    padding-left: 20px;
}
h1{
    font-family: 'Gentium Book Basic', serif;
    font-size: 30px;
}
h2{
    font-family: 'Gentium Book Basic', serif;
    font-size: 24px;
}
p, li, a{ 
    font-family: 'Gentium Book Basic', serif;
    font-size: 20px;
}
ul{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #1E90FF;
}

@media screen and (max-width: 960px) {
    img {
      max-width: 80%;
      max-height: 80%;
    }
    .main{
        max-width: 100%;
    }
  }
@media screen and (max-width: 479px) {
    img {
        width: 0;
      }
    }